USE [DataWarehouse]
GO

/*========================================================
  STORED PROCEDURE : silver.load_silver
  PURPOSE          : Load & Transform Data into Silver Layer
  SOURCE LAYER     : Bronze
  TARGET LAYER     : Silver
========================================================*/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [silver].[load_silver]
AS 
BEGIN

/*========================================================
  LOAD CRM CUSTOMER INFORMATION
========================================================*/
TRUNCATE TABLE silver.crm_cust_info
PRINT '>>> Inserting Data into: silver.crm_cust_info'

INSERT INTO silver.crm_cust_info (
    cst_id,
    cst_key,
    cst_firstname,
    cst_lastname,
    cst_material_status,
    cst_gndr,
    cst_create_date
)
SELECT 
    cst_id,
    cst_key,
    cst_firstname,
    cst_lastname,
    CASE 
        WHEN cst_marital_status = 'M' THEN 'Married'
        WHEN cst_marital_status = 'S' THEN 'Single'
        ELSE 'n/a'
    END AS cst_marital_status,
    CASE 
        WHEN cst_gndr = 'M' THEN 'Male'
        WHEN cst_gndr = 'F' THEN 'Female'
        ELSE 'n/a'
    END AS cst_gndr,
    cst_create_date
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY cst_id ORDER BY cst_create_date DESC) AS row
    FROM bronze.crm_cust_info
    WHERE cst_id IS NOT NULL
) t
WHERE row = 1;

/*========================================================
  LOAD CRM PRODUCT INFORMATION
========================================================*/
TRUNCATE TABLE silver.crm_prd_info
PRINT '>>> Inserting Data into: silver.crm_prd_info'

INSERT INTO silver.crm_prd_info (
    prd_id,
    cat_id,
    prd_key,
    prd_nm,
    prd_cost,
    prd_line,
    prd_start_dt,
    prd_end_dt
)
SELECT
    prd_id,
    REPLACE(SUBSTRING(prd_key,1,5),'-','_') AS cat_id,
    SUBSTRING(prd_key,7,LEN(prd_key)) AS prd_key,
    prd_nm,
    ISNULL(prd_cost,0) AS prd_cost,
    CASE 
        WHEN UPPER(TRIM(prd_line)) = 'M' THEN 'Mountain'
        WHEN UPPER(TRIM(prd_line)) = 'R' THEN 'Road'
        WHEN UPPER(TRIM(prd_line)) = 'S' THEN 'Other Sales'
        WHEN UPPER(TRIM(prd_line)) = 'T' THEN 'Touring'
        ELSE 'n/a'
    END AS prd_line,
    prd_start_dt,
    LEAD(prd_start_dt,1) OVER (PARTITION BY prd_key ORDER BY prd_start_dt) AS prd_end_dt
FROM bronze.crm_prd_info;

/*========================================================
  LOAD CRM SALES DETAILS
========================================================*/
TRUNCATE TABLE silver.crm_sales_details
PRINT '>>> Inserting Data into: silver.crm_sales_details'

INSERT INTO silver.crm_sales_details (
    sls_ord_num,
    sls_prd_key,
    sls_cust_id,
    sls_order_dt,
    sls_ship_dt,
    sls_due_dt,
    sls_sales,
    sls_quantity,
    sls_price
)
SELECT
    sls_ord_num,
    sls_prd_key,
    sls_cust_id,
    CASE WHEN LEN(sls_order_dt) != 10 THEN NULL ELSE sls_order_dt END,
    CASE WHEN LEN(sls_ship_dt) != 10 THEN NULL ELSE sls_ship_dt END,
    CASE WHEN LEN(sls_due_dt) != 10 THEN NULL ELSE sls_due_dt END,
    CASE 
        WHEN sls_sales IS NULL 
          OR sls_sales <= 0 
          OR sls_sales != sls_quantity * ABS(sls_price)
        THEN sls_quantity * ABS(sls_price)
        ELSE sls_sales
    END AS sls_sales,
    sls_quantity,
    CASE 
        WHEN sls_price IS NULL OR sls_price <= 0
        THEN sls_sales / NULLIF(sls_quantity,0)
        ELSE sls_price
    END AS sls_price
FROM bronze.crm_sales_details;

/*========================================================
  LOAD ERP CUSTOMER MASTER
========================================================*/
TRUNCATE TABLE silver.erp_cust_az12
PRINT '>>> Inserting Data into: silver.erp_cust_az12'

INSERT INTO silver.erp_cust_az12 (
    cid,
    bdate,
    gen
)
SELECT
    CASE 
        WHEN cid LIKE 'NAS%' THEN SUBSTRING(cid,4,LEN(cid))
        ELSE cid
    END AS cid,
    CASE 
        WHEN bdate > GETDATE() THEN NULL
        ELSE bdate
    END AS bdate,
    CASE 
        WHEN UPPER(TRIM(gen)) IN ('F','FEMALE') THEN 'Female'
        WHEN UPPER(TRIM(gen)) IN ('M','MALE') THEN 'Male'
        ELSE 'n/a'
    END AS gen
FROM bronze.erp_cust_az12;

/*========================================================
  LOAD ERP LOCATION MASTER
========================================================*/
TRUNCATE TABLE silver.erp_loc_a101
PRINT '>>> Inserting Data into: silver.erp_loc_a101'

INSERT INTO silver.erp_loc_a101 (
    cid,
    cntry
)
SELECT
    REPLACE(cid,'-','') AS cid,
    CASE 
        WHEN TRIM(cntry) = 'DE' THEN 'Germany'
        WHEN TRIM(cntry) IN ('US','USA') THEN 'United States'
        WHEN TRIM(cntry) = '' OR cntry IS NULL THEN 'n/a'
        ELSE TRIM(cntry)
    END AS cntry
FROM bronze.erp_loc_a101;

/*========================================================
  LOAD ERP PRODUCT CATEGORY
========================================================*/
TRUNCATE TABLE silver.erp_px_cat_g1v2
PRINT '>>> Inserting Data into: silver.erp_px_cat_g1v2'

INSERT INTO silver.erp_px_cat_g1v2 (
    id,
    cat,
    subcat,
    maintenance
)
SELECT
    id,
    cat,
    subcat,
    maintenance
FROM bronze.erp_px_cat_g1v2;

END
GO
